a.button-improvement {
    z-index: 99;
    display: flex;
    position: fixed;
    bottom: 16px;
    right: 34vw;
    width: auto;
    padding: 19px 24px 16px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    color: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.4px;

    background: $color-default-white;
    border: 1px solid $color-whisper;
    box-sizing: border-box;
    box-shadow: 0px 16px 24px rgba($color-default-black, 0.08);
    border-radius: 4px;
    text-decoration: none;

    transition: transform $trans--400, color $trans--200;

    @include vp-1439 {
        right: 28vw;
    }

    @include vp-1023 {
        right: 50vw;
        transform: translateX(50%);
    }

    @include hover-focus {
        color: $color-apple;
        opacity: 1;
    }

    svg {
        box-sizing: border-box;
        position: relative;
        top: -3px;
        width: 34px;
        height: 24px;
        padding-right: 10px;
    }
}

.scroll-down {
    .button-improvement {
        transform: translateY(200%);

        @include vp-1023 {
            transform: translate(50%, 200%);
        }
    }
}

.scroll-up {
    .button-improvement {
        transform: translateY(0);

        @include vp-1023 {
            transform: translate(50%, 0);
        }
    }
}

.scroll-down.scroll-stop {
    .button-improvement {
        transform: translateY(0);

        @include vp-1023 {
            transform: translate(50%, 0);
        }
    }
}
