// Code formatting.

.code {
    @include secondary-text;
    display: inline-block;
    font-family: inherit;
    word-break:keep-all;
    white-space: nowrap;

    @include vp-1023 {
        font-size: 14px;
        white-space: normal;
        overflow-wrap: break-word;
    }

    @include vp-767 {
        font-size: 12px;
    }

    &--default {
        @include primary-text;
        padding: 0 4px;
        color: $color-night-rider;
        background: $color-solitude;
       
        border: 1px solid $color-whisper;
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    &--lang {
        border-radius: 4px;
        padding: 0 8px;
        margin-right: 4px;
        color: $color-default-white;
        background-color: $color-mariner;



    }

    &--tool {
        border-radius: 4px;
        padding: 0 8px;
        margin-right: 4px;
        color: $color-default-white;
        background-color: $color-blue-chill;
    }

    &--framework {
        border-radius: 4px;
        padding: 0 8px;
        margin-right: 4px;
        color: $color-default-white;
        background-color: $color-rich-gold;
    }
}
