.inner-page {
    margin-top: var(--header-height-desktop);

    @include vp-1023 {
        margin-top: 0;
    }

   &__grid {
       display: grid;
       grid-template-columns: 324px 1fr;
       column-gap: 64px;

       @include vp-1439 {
           grid-template-columns: 220px 1fr;
           column-gap: 32px;
       }

       @include vp-1023 {
           grid-template-columns: 1fr;
       }
   }

   &__inner-wrapper {
       width: 100%;
        min-width: 0;
        padding: 96px 104px 0 92px;   
        
        @include vp-1439 {
            padding: 46px 104px 0 104px;
        }

        @include vp-1279 {
            padding: 46px 32px 0 48px;
        }

        @include vp-1023 {
            padding: 48px 20px 0;
        }
    }
    
   &__wrapper {
       grid-column: 2 / 3;
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center;
       row-gap: 46px;
       min-width: 0;
       margin-top: 6px;
       box-shadow: 0px 4px 96px rgba($color-default-black, 0.08);
       border: 1px solid $color-solitude;
       border-radius: 12px 12px 0px 12px;
       
       @include vp-1439 {
           margin-top: 8px;
           max-width: 970px;
        }
         
        @include vp-1023 {
           grid-column: initial;
           margin-top: 0;
        }

        @include vp-767 {
            border: none;
        }

   }
   
   &__content {
       max-width: 945px;
       min-width: 0;
       width: 100%;
       
       @include vp-1439 {
           max-width: 980px;
        }
        
        @include vp-1023 {
           max-width: initial;
       }
       
       h1 {
           @include title-h1;
           margin-bottom: 16px;
        }

        h2 {
            margin-bottom: 24px;

            @include title-h2;

            svg {
                margin-left: 10px;
                color: inherit;
           }

       }
       
       h3 {
           @include title-h3;
           margin-bottom: 13px;
           
           @include vp-1439 {
               margin-bottom: 8px;
               font-size: 16px;
               line-height: 150%;
            }
            
            @include vp-767 {
                margin-bottom: 6px;
            }

            svg {
                display: none;
            }
       }
       
       h4 {
           @include title-h4;
           margin-bottom: 0;
           
           @include vp-1439 {
                margin-bottom: 0;
                font-size: 16px;
                line-height: 150%;
            }
       }
       
       p {
           @include primary-text;
        }

        ul {
           list-style: none;
           padding: 0 0 0 32px;
           margin-bottom: 24px;
           max-width: 792px;
           width: calc(100% + 32px);

           @include vp-1279 {
               width: 100%;
           }
           
           li {
               @include primary-text;
               letter-spacing: -0.2px;
               position: relative;
               margin-bottom: 8px;

               &:last-child {
                   margin-bottom: 0;
               }

               &::before {
                   content: '';
                   position: absolute;
                   top: 13px;
                   left: -25px;
                   width: 7px;
                   height: 7px;
                   background-color: $color-apple;

                   @include vp-1619 {
                       top: 10px;
                   }
                   
                   @include vp-767 {
                       top: 8px;
                   }
                }
                
                p {
                    margin: 0;
                }

                a {
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;                    
                    text-decoration-skip: none;
                }
            }
            
            ul {
                max-width: 100%;
                margin-top: 8px;
                margin-bottom: 8px;
                padding-left: 22px;

            }

            ul li {
               &::before {
                   left: -22px;
                   background-color: $color-transparent;
                   border: 1px solid $color-grey;
                }
           }
       }
       
       hr {
           width: 100%;
           margin-top: 48px;
           margin-bottom: 48px;
           border-top: 1px solid $color-whisper;
        }
        
        a {
         color: $color-apple;
         transition: opacity $trans--200;

         @include hover-focus {
             opacity: 0.7;
            }
        }

        abbr {
           text-decoration: underline;
        }

        sup {
            display: flex;
            width: min-content;
            margin-top: 25px;
            white-space: pre;
            align-content: stretch;
            background-color: $color-default-white;
            border: 1px solid $color-whisper;
            border-radius: 4px;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08);

            @include vp-767 {
                width: 100%;
                white-space: initial;
                max-width: max-content;
            }
        }
        
        sup a {
            display: block;
            width: min-content;
            height: 100%;
            padding: 16px 24px;
            font-size: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.2px;
            color: inherit;

            @include vp-767 {
                width: 100%;
            }
        }

    }
    
    &__heading {
        margin-bottom: 48px;
    
    h1 {
        @include title-h1;
        margin-bottom: 16px;
    }

    h2 {
        @include title-h2;

        letter-spacing: -0.2px;
        margin-bottom: 8px;
    }

    p {
        @include primary-text;
        font-weight: 400;
        letter-spacing: -0.2px;
    }
}

&__section {
    width: 100%;

       h2 {
            margin-bottom: 24px;
        }
        
        h3 {
          @include title-h3-bold;
        }

        p {
           @include vp-1439 {
               max-width: 760px;
               margin-top: 8px;
           }
        }

        ul {
            margin-top: 16px;
        }
        
        code {
            font-family: inherit;

            @include primary-text;
            color: $color-grey;
        }
        
        pre {
            font-family: inherit;

            @include primary-text;
            span {
                color: $color-night-rider;
           }
        }

        strong {
            display: inline-block;
            vertical-align: baseline;
            padding: 0 2px;
            font-weight: 400;
            
            background-color: $color-solitude;
            border-radius: 8px;
            border: 1px solid $color-whisper;
        }

        a {
           text-decoration: underline;
        }

        em a {
            font-style: normal;
            color: $color-grey;
        }
        
        img {
            margin-top: 24px;
       }
   }

   &__block {
       margin-bottom: 48px;
       overflow: hidden;
       
       @include vp-1439 {
           max-width: 792px;
       }
               
        h3 {
          @include title-h3-bold;
        }

        h3:first-child {
            margin-top: 0;
        }

        h4 {
            margin-bottom: 8px;
        }

        p {
            margin-top: 8px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        p:first-child {
            margin-top: 0;
        }

        ul:last-child {
            margin-bottom: 0;
        }

        ul:first-child {
            margin-top: 0;
        }

        .code--default {
            word-break: normal;

            @include vp-767 {
                margin-bottom: 2px;
            }
        }

       &--sm {
           margin-bottom: 32px;

           p:first-child{
               margin-top: 0;
           }
        }

        &--xs {
            margin-bottom: 24px;
        }
    }

    &__last-change {
       @include secondary-text;
       display: flex;
       justify-self: start;
       align-items: flex-start;
       min-width: 0; 
       padding: 0 104px 48px 92px;

       color: $color-grey;
       
       @include vp-1439 {
           padding: 0 70px 46px 103px;
        }
        
        @include vp-1279 {
            padding: 0 32px 46px 48px;
        }

        @include vp-1023 {
           padding: 0 20px 46px;
        }
        

       a {
           margin-left: 20px;

           color: inherit;
           transition: $trans--200;

           @include hover-focus {
               color: $color-night-rider;
           }
       }
   }

   .breadcrumb {
      padding-left: 8px;
      margin-bottom: 16px;

      @include vp-1439 {
          padding-left: 0;
      }
    }

   .stack-img {
       margin-bottom: 48px;
    }

   abbr {
       text-decoration: none;
       border: 1px solid $color-whisper;
       background-color: $color-solitude;
       padding-right: 4px;
       padding-left: 4px;
       border-radius: 8px;
    }

    &--small-title {
        h2 {
           @include title-h2;
        }
   }
}
