.lang-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 4px;

    @include hover-focus {
        background-color: $color-solitude;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    &.ru {
        .icon-en {
            display: none;
        }
    }

    &.en {
        .icon-ru {
            display: none;
        }
    }
}
