.video-external {
    color: $color-night-rider;

    &__img-wrap {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        margin-bottom: 16px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        
        &::before {
            z-index: -1;
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            display: block;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: $color-grey;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            opacity: 0;
            transition: opacity $trans--200;
        }
    }

    &__img-wrap img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include vp-1439 {
            height: 100%;
        }

        @include vp-1023 {
            height: 100%;
        }
    }

    & h3 {
        @include title-h3;
        max-height: 300px;
        overflow: hidden;
        text-overflow: ellipsis;

        margin: 0 0 8px 0;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include vp-1023 {
            line-height: 25px;
        }

        @include vp-767 {
            margin-bottom: 5px;
        }
    }

    & small {
        @include secondary-text;
        color: $color-grey;
    }

    & a {
        color: inherit;
        transition: color $trans--200;

        @include hover-focus {
            color: $color-apple;

            .video-external__img-wrap {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
