{{ $title := .Get "title" }}
{{ $format := .Get "format" }}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

<div class="jobs">
    <div class="container">
        <img src="{{ $src }}.{{ $format }}"
            srcset="{{ $src }}@2x.{{ $format }} 2x" alt="{{ $alt }}"
            width="{{ $width }}" height="{{ $height }}" data-aos="fade-up">
        <h2 class="jobs__title" data-aos="fade-up">{{ $title }}</h2>
        {{ .Inner }}
    </div>
</div>