<div class="uri-scheme">
  <div class="uri-scheme__content">
    <div class="uri-scheme__item">
      <span class="uri-scheme__element">https://&ensp;</span>
      <div class="uri-scheme__caption">
        <svg width="60" height="12" viewBox="0 0 60 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H26.7217L30 10L33.2783 6.84211H52.1579C55.9367 6.84211 59 3.77879 59 0V0" stroke="#888888" stroke-width="1.5"/>
        </svg>
        <span>схема</span>
      </div>
    </div>
    <div class="uri-scheme__item">
      <span class="uri-scheme__element">api.leroymerlin.ru&ensp;/&ensp;</span>
        <div class="uri-scheme__caption">
          <svg width="151" height="12" viewBox="0 0 151 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H73.2217L76.5 10L79.7783 6.84211L143.158 6.84211C146.937 6.84211 150 3.77879 150 0V0" stroke="#888888" stroke-width="1.5"/>
          </svg>
          <span>хост</span>
        </div>
    </div>
    <div class="uri-scheme__item">
      <span class="uri-scheme__element">domain&ensp;/&ensp;</span>
      <div class="uri-scheme__caption">
        <svg width="67" height="12" viewBox="0 0 67 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H29.9435L33.2217 10L36.5 6.84211L59.1579 6.84211C62.9367 6.84211 66 3.77879 66 0V0" stroke="#888888" stroke-width="1.5"/>
        </svg>
        <span>домен</span>
      </div>
    </div>
    <div class="uri-scheme__item">
      <span class="uri-scheme__element">application&ensp;</span>
      <div class="uri-scheme__caption">
        <svg width="95" height="12" viewBox="0 0 95 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H43.9435L47.2217 10L50.5 6.84211L87.1579 6.84211C90.9367 6.84211 94 3.77879 94 0V0" stroke="#888888" stroke-width="1.5"/>
        </svg>
        <span>система</span>
      </div>
    </div>
    <div class="uri-scheme__item">
      <span class="uri-scheme__element"> /&ensp;v1 /&ensp;</span>
      <div class="uri-scheme__caption">
        <svg width="35" height="12" viewBox="0 0 35 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H13.9435L17.2217 10L20.5 6.84211L27.1579 6.84211C30.9367 6.84211 34 3.77879 34 0V0" stroke="#888888" stroke-width="1.5"/>
        </svg>
        <span>версия</span>
      </div>
    </div>
    <div class="uri-scheme__item">
      <span class="uri-scheme__element">products?</span>
      <div class="uri-scheme__caption">
        <svg width="87" height="12" viewBox="0 0 87 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H41.9435L45.2217 10L48.5 6.84211L79.1579 6.84211C82.9367 6.84211 86 3.77879 86 0V0" stroke="#888888" stroke-width="1.5"/>
        </svg>
        <span>продукт</span>
      </div>
    </div>
    <div class="uri-scheme__item">
      <span class="uri-scheme__element">siteId=12&statusCode=active</span>
        <div class="uri-scheme__caption">
          <svg width="183" height="12" viewBox="0 0 183 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0V0C1 3.77879 4.06331 6.84211 7.8421 6.84211H97.2217L100.5 10L103.778 6.84211L175.158 6.84211C178.937 6.84211 182 3.77879 182 0V0" stroke="#888888" stroke-width="1.5"/>
          </svg>
          <span>параметры запроса</span>
        </div>
    </div>
  </div>
</div>