{{ $src := .Get "src" }}
{{ $format := .Get "format" }}
{{ $alt := .Get "alt" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $title := .Get "title" }}
{{ $date := .Get "date" }}
{{ $href := .Get "href" }}

<div class="video-external">
    <a href="{{ $href }}">
        <div class="video-external__img-wrap">
            <img loading="lazy" src="{{ $src }}.{{ $format }}" srcset="{{ $src }}@2x.{{ $format }} 2x" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}">
        </div>
        <h3> {{ $title }} </h3>
        <small> {{ $date }}</small>
    </a>
</div>
