<div class="intro__video-wrap" data-aos="fade-up">
    <video class="video {{.Get 1}}" data-src="{{.Get 0}}"  data-video-player="" autoplay="" muted="" playsinline>
    </video>
    <div class="intro__video-hover" data-video-hover>
        <video class="video-preview {{.Get 4}}" data-src="{{.Get 3}}" data-video-preview="" loop="loop" muted="" autoplay="" playsinline>         
        </video>
        <div class="loader-spinner-wrapper hidden" data-video-spinner>
            <div class="loader-spinner">
            </div>
        </div>
        <div class="intro__video-button">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_b_1624_8143)">
                <rect class="intro__video-button-background" width="40" height="40" rx="20" fill="white" fill-opacity="0.2"/>
                <path d="M26.5 19.134C27.1667 19.5189 27.1667 20.4811 26.5 20.866L17.5 26.0622C16.8333 26.4471 16 25.966 16 25.1962L16 14.8038C16 14.034 16.8333 13.5529 17.5 13.9378L26.5 19.134Z" fill="currentColor"/>
                </g>
                <defs>
                <filter id="filter0_b_1624_8143" x="-12" y="-12" width="64" height="64" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feGaussianBlur in="BackgroundImage" stdDeviation="6"/>
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1624_8143"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1624_8143" result="shape"/>
                </filter>
                </defs>
            </svg>
        </div>
    </div>
</div>

<script>

</script>