<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#">
                Инженерная культура
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 16.2071C4.68342 16.5976 5.31658 16.5976 5.70711 16.2071L10.5 11.4142L15.2929 16.2071C15.6834 16.5976 16.3166 16.5976 16.7071 16.2071C17.0976 15.8166 17.0976 15.1834 16.7071 14.7929L10.5 8.58579L4.29289 14.7929C3.90237 15.1834 3.90237 15.8166 4.29289 16.2071Z" fill="#333333"/>
                </svg>
            </a>
            <ul class="nav__inner-list">
                <li class="nav__inner-item"><a href="">Люди</a></li>
                <li class="nav__inner-item"><a href="">Архитектура</a></li>
                <li class="nav__inner-item"><a href="">Технологии</a></li>
            </ul>
        </li>
        <li class="nav__item"><a href="#">Стек технологий</a></li>
        <li class="nav__item">
            <a href="#">
                Знания
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 16.2071C4.68342 16.5976 5.31658 16.5976 5.70711 16.2071L10.5 11.4142L15.2929 16.2071C15.6834 16.5976 16.3166 16.5976 16.7071 16.2071C17.0976 15.8166 17.0976 15.1834 16.7071 14.7929L10.5 8.58579L4.29289 14.7929C3.90237 15.1834 3.90237 15.8166 4.29289 16.2071Z" fill="#333333"/>
                </svg>
            </a>
            <ul class="nav__inner-list">
                <li class="nav__inner-item"><a href="">API</a></li>
                <li class="nav__inner-item"><a href="">Готовим код к open source</a></li>
                <li class="nav__inner-item"><a href="">innersource</a></li>
            </ul>
        </li>
    </ul>
</nav>
