<div class="modal-candidate">
    <h2>Путь кандидата</h2>
    <h3>Подготовка к интервью</h3>
    <p>Перед собеседованием почитайте о наших технологиях и инженерной культуре. Ещё можно заглянуть на наш YouTube — там есть видео с конференций.</p>
    <h3>Созвон с рекрутером <span class="modal-candidate__time"> — 15 минут </span></h3>
    <p>Вы расскажете про опыт, HR — про задачи. Для джунов и практикантов есть технический скрининг — попросим рассказать, с каким стеком работаете.</p>
    <h3>Интервью с техническими экспертами <span class="modal-candidate__time"> — 1 час 30 минут </span></h3>
    <p>Расскажем про технологии и специфику разработки. Оценим вашу техническую экспертизу — иногда для этого нужно выполнить задание, например написать код.</p>
    <h3>Встреча с лидером продукта<span class="modal-candidate__time"> — 1 час</span></h3>
    <p>Расскажем про задачи, карьерный рост и как у нас всё устроено. Это шанс задать вопросы и понять, подходим ли мы друг другу.</p>
    <h3>Встреча с лидером домена<span class="modal-candidate__time"> — 1 час</span></h3>
    <p>Ещё раз обсудим процессы и задачи. Но уже не внутри команды, а внутри всего домена.</p>
    <h3>Знакомство с командой</h3>
    <p>Хотите познакомиться с возможными коллегами — приезжайте к нам в офис. Устроим экскурсию и посиделки с кофе.</p>
    <h3>Оффер или конструктивный фидбэк</h3>
    <p>HR позвонит в любом случае: если мы друг другу подходим — чтобы позвать в команду, если нет — чтобы дать обратную связь.</p>
    <div class="modal-candidate__important">
        <p class="modal-candidate__important-title">Важно:</p>
        <p>Это примерный сценарий. На практике всё может быть по-другому. Например, обойдёмся без встречи с лидером домена или познакомитесь с командой уже в ходе работы.</p>
    </div>
</div>