<script src="/bundle/rss-parser.min.js"></script>
<script>
  var habr = $("#habr");
  // Note: some RSS feeds can't be loaded in the browser due to CORS security.
  // To get around this, you can use a proxy.
  // Напрямую запросы не проходят из-за CORS, а предыдущий прокси который был прописан лежит,
  // Прописал https://cors-anywhere.herokuapp.com/ он рабочий, но использовать его можно только для разработки и
  // возможно необходимо зайти на https://cors-anywhere.herokuapp.com/corsdemo и нажать кнопку "Request temporary access"
  // после этого данные должны загрузиться

  // старый URL 'https://jsonp.afeld.me/?url=https://habr.com/ru/rss/company/leroy_merlin/blog/?fl=ru&mobile=no'
  let parser = new RSSParser();
  parser.parseURL(
    "https://cors-anywhere.herokuapp.com/https://habr.com/ru/rss/company/leroy_merlin/blog/?fl=ru&mobile=no",
    function (err, feed) {
      if (err) throw err;
      var i;
      for (i = 0; i < 3; i++) {
        var item = feed.items[i];
        var itemDate = new Date(item.pubDate).toLocaleString("ru", {
          year: "numeric",
          month: "long",
          day: "numeric",
        });
        var itemHtml = 
        '<li class="hubr-publications__item aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">\
        <div class="video-external">\
        <a href="' +
          item.link + 
          '">\
            <div class="video-external__img-wrap">\
                <img loading="lazy" src="/images/hubr/poster'+ (i + 1) + '.jpg" srcset="/images/hubr/poster' + (i + 1) + '@2x.jpg 2x" alt="Постер" width="355" height="200">\
            </div>\
            <h3> ' +
          item.title 
          + '</h3>\
            <small> ' +
          itemDate 
          +
          ' </small>\
        </a>\
    </div>\
    </li>';
        habr.html(habr.html() + itemHtml);
    }
}
);
</script>
